[2016-07-15 06:37] Eiryyy opened #1 "Wrong indent after paren"
I typed `return (<CR>`, but I think it's wrong indentation.
<img width="325" alt="2016-07-15 15 30 24" src="https://cloud.githubusercontent.com/assets/2590137/16865625/15cd7524-4aa1-11e6-83dd-01b65bd9c648.png">

I use these plugins (only loaded).
[code]

[2016-07-15 07:17] MaxMEllon commented on #1
Thank you reporting. I am japanese, so You may use japanese.

Sorry for my poor english.  so in japanese.

本プラグインはインデントの設定を含めていません．
なので，別途インデントの設定ファイルをvim のランタイムに含めることで期待したインデンテーションが可能になると思います．

次のコマンドを実行すれば，期待した動作になると思います．

[code]

[2016-07-18 15:42] Eiryyy commented on #1
ありがとうございます。今後プラグインにインデント設定を含める予定はありますか？

[2016-07-18 21:27] MaxMEllon commented on #1
あります。が、しかしユーザーによって、FileType javascriptのときにセットされている　indentexpr が異なってしまっているので、そこをどううまく吸収するかを悩んでおります。

解決案としては、

- 特定のjavascriptのインデントの設定が含まれたプラグインを依存プラグインにしつつ、jsx部分のインデントの設定を自分で書く

- 自分でjavascript部分もjsx部分もインデントの設定を書く

- jsx部分のインデントだけ別プラグインにする

が今のところ上がっております。

[2016-07-18 21:28] MaxMEllon opened #2 "Indent config"
refs #1

[2016-07-28 06:32] Eiryyy opened #3 "引数にカッコを使うとハイライトが崩れる"
カッコなしの場合
![2016-07-28 15 27 38](https://cloud.githubusercontent.com/assets/2590137/17203053/10d3e4ea-54d8-11e6-9c8d-1e475fb761e2.png)

カッコありの場合
![2016-07-28 15 28 03](https://cloud.githubusercontent.com/assets/2590137/17203057/15be6a02-54d8-11e6-9d95-a0f84bd3b39c.png)

何らかのプラグインによって解決することはできますか？あるいは修正すべき問題でしょうか？

[2016-07-28 06:38] MaxMEllon commented on #3
報告ありがとうございます．
本プラグインの問題です．スクリーンショットまで丁寧にありがとうございます．

いまから修正に挑戦してみます．

[2016-07-28 07:13] MaxMEllon commented on #3
![2016-07-28 16 10 12](https://cloud.githubusercontent.com/assets/9594376/17204003/d0deeb0e-54dd-11e6-8514-3e053cec1471.png)

yajs.vim が jsx を想定していないため誤マッチ jsx 内に記述された アロー関数が誤マッチしてしまっています．
これを修正するには，yajs.vim の アロー関数の ハイライトマッチ条件を変更する必要が有るかもしれません．

[2016-09-23 16:00] MaxMEllon commented on #3
![2016-09-24 0 57 42](https://cloud.githubusercontent.com/assets/9594376/18792549/ef03ccd0-81f1-11e6-87bf-899f84aba4e5.png)

yajs.vim と vim-jsx-pretty の組み合わせでは解決ができなかったので，
vim-javascript に対応して修正いたしました．

[code]

vim-jsx-pretty を最新版にして，yajs.vim を vim-javascript にすることで解決いたいします．
あわせて，インデントの問題(#1)も改善されました．

[2016-09-23 16:01] MaxMEllon commented on #2
vim-javascript のものを利用する．

[2016-09-24 01:29] MaxMEllon commented on #2
jsx 部分の indent が = で正しく整形されない

[2016-09-25 21:44] MaxMEllon commented on #1
インデントの設定を実装しました [d6d1eae](https://github.com/MaxMEllon/vim-jsx-pretty/commit/d6d1eae089ff1b6d8adbf15dba3c66cf0a688ed6)

![](https://raw.githubusercontent.com/MaxMEllon/demos/master/vim-jsx-pretty/auto-indent.gif)

[2016-09-26 01:57] MaxMEllon commented on #2
Implements indent configuration. d6d1eae

[2016-09-26 01:57] #2 closed

[2016-09-28 23:04] #1 closed

[2016-09-28 23:04] #3 closed

[2016-10-22 21:54] sassanh opened #4 "Indentation problem"
Thanks for this plugin :-)

I guess this is indented wrong:

[code]

last 2 lines have an extra indentation.

[2016-10-23 03:41] MaxMEllon commented on #4
Thanks report!
I try to make sure

[2016-10-23 03:58] MaxMEllon commented on #4
`<span`
This tag forget `>` character?

[2016-10-23 04:18] sassanh commented on #4
Oh such a typo. Sorry for taking your time on this.
If it's alright I wanna check another issue with you:
[code]
I guess lines starting with `?` and `:` have an extra indentation here.

[2016-10-23 04:25] sassanh commented on #4
Take a look at this one too, it may be related:
[code]
I guess `2}` has correct indentation but `</span>` doesn't look good (extra indentation.)

[2016-10-23 04:36] sassanh commented on #4
Please let me know if I should create separate issues. Found another one:
[code]
wrong indentation started in line 3.

[2016-11-09 06:07] MaxMEllon commented on #4
humm... Thank you report. I try to fix this problem.

[2016-11-14 04:40] MaxMEllon commented on #4
Maybe, indent not only, syntax has issue. So break indent.

[2016-11-17 11:42] EdvinOlofsson opened #5 "Vim-jsx-pretty thinks "<=" is start of jsxRegion."
I have this React code in a .jsx file where an if-statement breaks the highlighting.

[code]

[2016-11-17 12:30] MaxMEllon commented on #5
Thank you reporting!!

[2016-11-17 13:07] EdvinOlofsson commented on #5
Sorry, for bad format on the code. I made it better now.

[2016-11-17 14:54] #5 closed

[2016-11-17 14:55] MaxMEllon commented on #5
Fixed!

![2016-11-17 23 54 44](https://cloud.githubusercontent.com/assets/9594376/20393965/40753568-ad21-11e6-8ced-341b05a7ca69.png)

[2016-11-17 14:58] MaxMEllon commented on #4
Partially fixed

![aa](https://cloud.githubusercontent.com/assets/9594376/20394095/ad4e99ae-ad21-11e6-99b4-ec5dad545e7e.gif)

[2016-11-17 15:02] EdvinOlofsson commented on #5
That was fast. Thanks!

[2016-11-17 15:02] sassanh commented on #4
@MaxMEllon thanks, looking forward on this.

[2016-11-17 15:04] MaxMEllon commented on #4
@sassanh I already pushed to the master 😄
I fixed it with #5.

[2016-11-17 15:59] #4 closed

[2016-11-17 15:59] MaxMEllon commented on #4
Fixed!

![2016-11-17 23 54 44](https://cloud.githubusercontent.com/assets/9594376/20396679/4c80f46a-ad2a-11e6-9831-f29bef3019af.png)

[2016-11-17 16:48] sassanh commented on #4
Thanks :-)

[2016-11-24 16:25] merisbahti opened #6 "Indentation breaks when passing javascript object as attribute to element."
Example:
[code]

What I expected:
[code]

Smaller example:
[code]

[2016-11-24 16:26] MaxMEllon commented on #6
Thanks report.
I will check it.

[2016-11-24 19:32] #6 closed

[2016-11-24 19:33] MaxMEllon commented on #6
@merisbahti Fixed

![l](https://cloud.githubusercontent.com/assets/9594376/20608790/57aa17ce-b2c8-11e6-9265-3754ea7538ec.gif)

[2016-11-24 19:35] merisbahti commented on #6
Great! Thank you! 💯

[2016-11-27 15:03] MaxMEllon opened #7 "jsx内のエスケープでjsを記述するとき，ハングする？"

[2016-11-28 06:08] #7 closed

[2017-01-12 19:01] Arch-Mage opened #8 "Less than sign bug when no space after it"
With this:

[code]

If you check what is current syntax on `num`, you got `jsxTagName`.

I think [this is](https://github.com/MaxMEllon/vim-jsx-pretty/blob/master/after/syntax/javascript.vim#L27) the culprit.

[2017-01-13 05:13] MaxMEllon commented on #8
Thank you report.
I will check it. 😄

[2017-01-13 05:48] MaxMEllon commented on #8
@Arch-Mage Fixed this problem.

![2017-01-13 14 46 27](https://cloud.githubusercontent.com/assets/9594376/21919645/44ae4570-d99f-11e6-9046-67591d87af8a.png)

[2017-01-14 13:17] Arch-Mage opened #9 "Not get highlighted when tagname is not directly followed by '>'"
After issue #8, there's opening jsx tag only highlighted if directly followed by closing angle bracket. So, with this:

[code]

Line number 3 doesn't got highlighted by jsx. I think the culprit still [this start pattern](https://github.com/MaxMEllon/vim-jsx-pretty/blob/master/after/syntax/javascript.vim#L27).

[2017-01-18 16:43] lazopm opened #10 "Broken syntax in multiline arrow function argument"
I noticed this:
Just `pangloss/vim-javascript`
![vim-jasvascript](https://cloud.githubusercontent.com/assets/5622067/22073407/421ebd94-dd73-11e6-9b24-fc8e3b8646e1.png)
With `vim-jsx-pretty`
![vim-jsx-pretty](https://cloud.githubusercontent.com/assets/5622067/22073409/4415fd10-dd73-11e6-82fe-556af0f250cb.png)

[2017-01-18 19:23] MaxMEllon commented on #10
It does not understand the reason this issue, so I fixed  simple way.

![2017-01-19 4 19 45](https://cloud.githubusercontent.com/assets/9594376/22079386/fecb019c-ddfe-11e6-92d6-90a2b906ac3e.png)

[2017-01-18 19:23] #10 closed

[2017-01-18 21:00] lazopm commented on #10
@MaxMEllon thank you!

[2017-01-31 02:15] erfanio opened #12 "comma in string breaks syntax highlighting"
JSX attribute value that is string doesn't get highlighted correctly if there is a comma inside.

![image](https://cloud.githubusercontent.com/assets/9994172/22449912/27f472d0-e7b7-11e6-9006-35dd6ee82680.png)

[2017-01-31 02:46] MaxMEllon commented on #9
sorry, I reverted source code, so this issue is ceased, and reopen #8

[2017-01-31 02:46] #9 closed

[2017-01-31 02:46] MaxMEllon commented on #12
thanks report.

[2017-01-31 02:54] MaxMEllon commented on #12
Fixed

![2017-01-31 11 52 16](https://cloud.githubusercontent.com/assets/9594376/22450740/05b776dc-e7ac-11e6-81e8-c6033d1a3a45.png)

[2017-01-31 02:55] #12 closed

[2017-01-31 02:56] erfanio commented on #12
Thanks for the quick fix

[2017-02-08 17:39] megalithic opened #13 "Indention issues in mocha it/describe blocks"
Great plugin! Only issues I'm having is broken indention when in mocha `it` and `describe` blocks. with `vim-jsx` enabled, the automatic respect for indentions work, but of course the jsx syntax highlighting fails. with `vim-jsx-pretty` enabled, the automatic indentions fail for the scenarios fail, however, syntax highlighting of jsx is great!.

Please let me know if there are other details you ne

[2017-02-09 10:18] MaxMEllon commented on #13
Thanks reports. It's an honour.

`vim-jsx-pretty` doesn't estimate,  running with `vim-jsx`.
So, please uninstall `vim-jsx`.

I cant reproduction problem only this report.
You should report your environment in vim.

Please execute next command.

[code]

[2017-02-14 06:29] yuezk opened #14 "Code highlighting incorrectly, when it is below jsx code with no `,` or `;` after."
It's hard to describe.

Here is the code and snapshot.

[code]

And the snapshot is

![image](https://cloud.githubusercontent.com/assets/3297602/22917815/f3f5cdec-f2c1-11e6-9ecb-460c58d8dd29.png)

But it happens only when there is not `,` or `;` after jsx code. And the following works well

[code]

![image](https://cloud.githubusercontent.com/assets/3297602/22917789/d58ef554-f2c1-11e6-8384-1b929bb

[2017-02-14 06:37] yuezk commented on #14
The follow code has the same issue.

[code]

[2017-02-15 09:27] MaxMEllon commented on #14
This issue is difficult for me. So, please last a moment.

I may possibly, I can't fix this problem.

To rewrite as below, This issue is fixed.

[code]

But, syntax-highlight break in different place.

![2017-02-15 18 25 05](https://cloud.githubusercontent.com/assets/9594376/22968014/28291f52-f3ac-11e6-8860-834ad0584bc8.png)

![2017-02-15 18 25 24](https://cloud.githubusercontent.com/assets/959437

[2017-02-16 01:07] yuezk commented on #14
@MaxMEllon I will try.

[2017-02-16 03:54] MaxMEllon commented on #14
I appreciate your kindness. :smile:

I will try too.

[2017-02-16 06:32] #14 closed

[2017-02-17 04:06] #8 closed

[2017-03-11 22:12] erfanio opened #17 "function in className property confuses indentation"
I have classname to combine classnames in my className props in react and it makes the indentation incorrect.

Incorrect
![image](https://cloud.githubusercontent.com/assets/9994172/23827264/a21f9c72-0703-11e7-92f8-b807f0fc8792.png)
(a lot of code has been removed to make the issue immediately visible)

without classname, correct
![image](https://cloud.githubusercontent.com/assets/9994172/23827270/

[2017-03-11 22:19] erfanio commented on #17
There seem to be more indentation issues

if i put my return in a function it's indented incorrectly
![image](https://cloud.githubusercontent.com/assets/9994172/23827309/df388384-0704-11e7-8ab6-b2c124df0a8c.png)

but outside of the if statement it is indented correctly
![image](https://cloud.githubusercontent.com/assets/9994172/23827311/f78978d0-0704-11e7-82ab-538e73529a44.png)

[2017-03-12 06:31] MaxMEllon commented on #17
I can't reproduce the error.

![l](https://cloud.githubusercontent.com/assets/9594376/23829571/b12c6af8-0738-11e7-942f-a10338a17ea8.gif)

Please show me plugin list of your vim.

[2017-03-12 06:33] MaxMEllon commented on #17
I can't reproduce the error.

![l](https://cloud.githubusercontent.com/assets/9594376/23829589/352bec84-0739-11e7-984c-6899564b9bb7.gif)

Please show me plugin list of your vim.

[2017-05-13 17:00] JESii opened #21 "es6 function in <button onClick={...} confuses indentation"
Inside a render function, I have the following code:
![image](https://cloud.githubusercontent.com/assets/486/26027436/ce08a88e-37c2-11e7-8076-9eef7aa1baeb.png)

The code works just fine, but notice that vim thinks the mis-matched pair of braces are actually matching, so the indentation doesn't work.

Here's my Plugin list:
[code]

[2017-05-13 17:03] MaxMEllon commented on #21
Please replace `vim-javascript-syntax` with `vim-javascript` and try.

[code]

[2017-05-13 17:09] JESii commented on #21
Same problem; I simplified the code in the onClick to just
`         <button onClick={this.addNote}>+ Add Note</button>`
and it's still confused.

[2017-05-13 17:14] MaxMEllon commented on #21
Thank you for checking.

OK.
I will check this problem.

[2017-05-13 17:14] JESii commented on #21
Thanks much! LMK what you'd like me to test

[2017-05-13 17:20] MaxMEllon commented on #21
![2017-05-14 2 17 57](https://cloud.githubusercontent.com/assets/9594376/26027607/9527efdc-384b-11e7-8455-d6e82d7848bc.png)

I did not reproduce it.
Maybe `vim-javascript` and `vim-javascript-syntax` are in conflict, so please retry to remove `vim-javascript-syntax`.

[2017-05-14 00:30] JESii commented on #21
That did it; thank you so much!!!

[2017-05-14 00:30] #21 closed

[2017-05-16 15:39] JESii opened #22 "Syntax highlighting issue"
I've got the following function, and the trailing '}' is highlighted red, even though there is a matching '{' earlier on the line.

Everything indents just fine, and I can jump back-and-forth between the two curly-braces with vim's '%' key, so it's only a highlighting issue.
![image](https://cloud.githubusercontent.com/assets/486/26114786/1ae68e58-3a13-11e7-93f5-56f07c92f62e.png)

And I just went

[2017-05-16 16:10] MaxMEllon commented on #22
This probrem is not issue of vim-jsx-pretty.
Because, reproduction without vim-jsx-pretty in plugin list.

You should report to [pangloss/vim-javascript](https://github.com/pangloss/vim-javascript)

![2017-05-17 1 06 28](https://cloud.githubusercontent.com/assets/9594376/26116151/18bcb2f8-3a9d-11e7-8f42-c1875f1e965d.png)

`:echo substitute(&runtimepath, ',', '\n', 'g')`

[code]

[2017-05-16 17:13] JESii commented on #22
Ok; will do. Thanks

Fat fingers; tiny keyboard... Please excuse typos and those crazy auto corrections.

[2017-05-16 17:35] MaxMEllon commented on #22
NP :smile:

[2017-05-16 17:35] #22 closed

[2018-03-13 09:50] jbq opened #24 "Indent bug with parenthesis in simple JSX"
Hi!  Thanks for the great **vim-jsx-pretty** Vim plugin!

With the following JSX, the indent is going crazy:

[code]

Here is my runtime path:

[code]

My vim setup is available at https://github.com/jbq/Dotfiles/tree/master/dot/vim

[2018-03-16 19:03] MaxMEllon commented on #24
I apologize for the inconvenience this has caused you.
Reproduced this problem my environment too.
I am fixing it just now. So please wait for a little that more.

[2018-04-13 17:45] vpzomtrrfrt opened #25 "`&nbsp;` followed by a self-closing tag breaks highlighting and indentation"
In this example:
[code]
The closing div is highlighted incorrectly, and is indented further than it should be.

[2018-04-17 23:47] dosentmatter opened #26 "Curly Brace Highlighting Broken for TSX"
One curly brace for `{logo}` is white and the other is blue:
![image](https://user-images.githubusercontent.com/5732253/38904338-b0635598-425e-11e8-8f3f-59f1d7a70776.png)

If I move the cursor over the curly brace on the right, vim says the matching curly brace is the one on the right of `render()`:
![image](https://user-images.githubusercontent.com/5732253/38904356-ca6b1a34-425e-11e8-87fa-d5d7611

[2018-07-14 18:37] christianpoveda commented on #26
what should be done to fix this?

[2018-08-21 11:15] iEricKoh opened #28 "No highlighted color on close tag"
Check my screenshot below, the `</div>` has the white color which not the same with the start tag in green color.

![2018-08-21-19 14 38_1193_x_976](https://user-images.githubusercontent.com/8081074/44398454-773cd700-a576-11e8-8164-88ecdca08464.png)

[2018-09-22 09:40] tsuyoshicho opened #29 "[Small fix] javascript.vim (useless edit)"
In javascript.vim, PR #23 like this.

[code]

This modification are useless edit.
fix in PR #30

[2018-09-22 09:43] MaxMEllon commented on #29
Thank you 😊

2018年9月22日(土) 18:40 Tsuyoshi CHO <notifications@github.com>:

[2018-09-22 09:46] #29 closed

[2018-11-06 15:14] yuezk commented on #25
@vpzomtrrfrt @MaxMEllon This should be fixed by #35

[2018-11-06 15:34] yuezk commented on #28
@iEricKoh I think this is because of your color scheme. You can put your cursor on the close tag, and run the fellow command in the command line to see the output.

[code]

[2018-11-07 06:02] iEricKoh commented on #28
This is what I got after run your command above:
[code]

[2018-11-07 06:58] yuezk commented on #28
@iEricKoh What's the color scheme of your vim?

[2018-11-07 12:20] iEricKoh commented on #28
@yuezk I am using [dracula](https://github.com/dracula/vim)

[2018-11-07 14:44] #24 closed

[2018-11-07 14:56] yuezk commented on #28
@iEricKoh I found the reason. We use the `Identifier` highlighting group to highlight the close tag, but the `Identifier` highlighting group in the dracula color scheme is not highlighted.

To fix this, you can add `hi! link Identifier DraculaPurple` in your vimrc, like this:

[code]

[2018-11-08 01:17] iEricKoh commented on #28
@yuezk Cool, it works!!!

[2018-11-08 01:17] #28 closed

[2018-11-08 05:45] #25 closed

[2018-11-29 06:05] yuezk commented on #17
I can't reproduce it as well, close it for the time being.

[2018-11-29 06:05] #17 closed

[2018-11-29 06:12] yuezk commented on #13
I will close it as it's no longer active.

[2018-11-29 06:12] #13 closed

[2018-12-03 19:40] vpzomtrrfrt opened #40 "TSX highlighting breaks with & between two generics"
[code]
With this plugin and leafgarland/typescript-vim installed, the above code highlights incorrectly.  The second generic (`<A>`) is highlighted in blue, and the following text is not highlighted at all.

[2018-12-04 01:55] yuezk commented on #40
@vpzomtrrfrt The #39 has fixed this, will be merged soon.

[2018-12-04 02:03] MaxMEllon commented on #40
Sorry for reviewing so late

[2018-12-04 03:57] yuezk commented on #40
@vpzomtrrfrt You can update this plugin and see if it was fixed now.
Feel free to feedback more typescript issues. Thanks.

[2018-12-04 19:52] vpzomtrrfrt commented on #40
Yup, looks like this is fixed now

[2018-12-04 19:52] #40 closed

[2018-12-06 13:33] amunra81 opened #44 "Slow behaviour for tsx files."
on typescript files (as tsx) , after a few file switchings (let's say opening 10 - 12 files), vim/nvim becomes practical unusable if you want to open other files (it will wait more then 30 seconds to open)

[2018-12-07 02:07] yuezk commented on #44
@amunra81 Thanks for the feedback, I will have a look.

[2018-12-07 06:32] #44 closed

[2018-12-07 06:39] yuezk commented on #44
@amunra81 Sorry for the inconveniences. I have found the root cause and fixed it in the PR #45. I also tested it on my local project, it works well now. You can update the plugin now and verify it.

BTW, feel free to feedback if you have any problems. Thanks.

[2018-12-24 20:17] ipatch opened #48 "JavaScript syntax highlighting stop working in html files when enabling this plugin"
Hello, 👋 just found out about this plugin last night, and am impressed how it works out of the box with JSX with little to no configuration files.  That said, something I noticed was that after I enable this plugin Javascript syntax highlighting inside of an `.html` file no longer works.  I put together a simple `.gif` explaining what is going on with my current Neovim setup.

![vim-jsx-pretty-bor

[2018-12-25 03:54] yuezk commented on #48
@ipatch Thanks for your feedback, I will take a look.

[2018-12-25 10:05] yuezk commented on #48
@ipatch I used your dotfiles, but it cannot be reproduced. Can you provide the test HTML file you used?

[2018-12-26 03:11] yuezk commented on #48
@ipatch I found the root cause and fixed it in #49. You can update the plugin and verify it now.

BTW, if you use the `vim-polyglot` plugin, you should disable the `jsx` plugin in it. By setting `let g:polyglot_disabled = ['jsx']` in your vimrc. The jsx plugin inside vim-polyglot is from `mxw/jsx`. and it will override this plugin.

[2018-12-26 03:11] #48 closed

[2018-12-26 12:44] MaxMEllon commented on #48
Just merged. Thanks report and patches.

[2018-12-28 22:56] ipatch opened #51 "JSX commenting | FEATURE REQUEST"
Hello 👋 again,

Something I was running into the other day while working with **JSX** commenting in `.js` files is maintaining Javascript comments, `//` while being able to add JSX comments in the same `.js` file.  I asked the below question on another site,

[vi.stackexchange.com > JSX comments in .js files](https://vi.stackexchange.com/questions/18372/how-to-add-javascript-and-jsx-comments-in-th

[2018-12-29 03:16] yuezk commented on #51
It seems a cool feature. I will take a look.

[2018-12-30 19:08] ipatch commented on #51
@yuezk

Kevin, man your like ...awesome.

<details>

<summary>clapping 👏</summary>

<img src="https://i.imgur.com/eyPtbXQ.gif">

</details>

[2018-12-30 19:08] #51 closed

[2019-01-05 20:40] chitoku-k opened #59 "TSX highlighting some generic types as error"
Possibly related to #40.

Some complicated generic types that even compile seem to be highlighted error using this plugin.

[code]

![image](https://user-images.githubusercontent.com/6535425/50728921-b0b45e80-1174-11e9-9943-38fb624cce4d.png)

My environment is Neovim v0.3.2 and the vim-jsx-pretty is f40cbf353325020f1a3501ec261c918e818e87bf.

I appreciate any efforts made for this great plugin, tha

[2019-01-05 20:44] chitoku-k commented on #59
Very sorry, this was not because of this plugin: vim-jsx-pretty works pretty fine in this case.

[2019-01-05 20:44] #59 closed

[2019-03-11 21:19] BerkeleyTrue opened #60 "bug: can't identify jsx closing tag name separately from tag name"
Hello,

It's been a while since I've updated to the latest version. I've updated recently and found some of my custom highlighting gone.

It seems that a fix to jsTagName has overwritten this feature (or was it a bug?).

In the latest it looks like jsxOpenTag|jsxCloseTag are now being overwritten by jsxPunct.

It be great if we could get a jsClosingTagName and get the other two close/open tag work

[2019-03-12 02:07] MaxMEllon commented on #60
Thank you report.
It's a new specification of vim-jsx-pretty for Fragments syntax.
So, can't reproduce syntax highlight before is implemented to vim-jsx-pretty a Fragments syntax.

[code]

i will update help and document. sorry.

[2019-04-07 04:17] yuezk commented on #60
@BerkeleyTrue I have added this feature, it's disabled by default, you can add `let g:vim_jsx_pretty_highlight_close_tag = 1` in your vimrc to enable this feature.

[2019-04-07 04:17] #60 closed

[2019-04-09 04:21] BerkeleyTrue commented on #60
@yuezk woot! thanks!

[2019-04-10 18:37] BerkeleyTrue commented on #60
@yuezk works like a charm. Thanks again for the fix.

[2019-04-25 15:25] mnbroatch opened #62 "Cursor loses horizontal position"
Cursor loses horizontal position on short lines when plugin is active

To reproduce, open bug.jsx with the plugin active (the only plugin, installed natively, no vimrc, vim 8.1.610).

Place your cursor on the '2'.

Press j twice.

Without the plugin installed (or in a non-js file), your cursor will be on the '5'. With the plugin, it will be on the '4'

**bug.jsx**
[code]

[2019-04-26 02:05] MaxMEllon commented on #62
Thank you report 👍

Right reproduced the problem.
Broken horizontal place of cursor when handle `ICursorMove` event in ftdetect.vim.
https://github.com/MaxMEllon/vim-jsx-pretty/blob/master/after/ftplugin/javascript.vim#L18-L21

i try fix to the timing of update highlighting.

[2019-04-26 02:07] MaxMEllon commented on #62
workaround:

[code]

But apply this, vim-jsx-pretty dont update highlighting when cursor moved.

[2019-04-26 02:12] yuezk commented on #62
This implemented a feature which can automatically update the comment string in the JSX file (#51).

[2019-04-26 09:24] #62 closed

[2019-04-26 09:28] yuezk commented on #62
@mnbroatch This issue should have been fixed now, you can verify it by yourself.

[2019-04-27 02:48] mnbroatch commented on #62
Thanks guys!

[2019-05-07 19:57] davidsierradz opened #64 "Support andymass/vim-matchup"
From: [andymass/vim-matchup/issues/62](https://github.com/andymass/vim-matchup/issues/62):

Thanks!

[2019-05-08 05:55] yuezk commented on #64
Thanks for your feedback, will take a look later.

[2019-05-11 14:13] #64 closed

[2019-05-11 14:19] yuezk commented on #64
@davidsierradz I have added support for the matchup plugin, you can update this plugin and verify it now. Feel free to leave comments below if you have any problems.

BTW, after this update, the `JsxHotfix` in your vimrc may don't need anymore.

[2019-05-13 13:11] pbondoer opened #66 "Long JSX blocks lose highlighting when jumping to end of file"
Hey there!

First of all, thanks for the wonderful plugin, it's really my favorite of all vim JSX syntax plugins.

For context, I'm using the latest version of this plugin in conjuction with the latest version of `pangloss/vim-javascript`.

I work on a rather large software development project, and we use JSX to control a React router. Our router file is rather large, with lots of nested routes.

[2019-05-14 02:06] yuezk commented on #66
Thanks for your feedback, will take a look later.

[2019-05-14 02:24] yuezk commented on #66
@pbondoer This issue cannot be reproduced from my environment. But have encountered a similar issue with another syntax plugin. The solution is to add `syntax sync fromstart` to it.

Can you add the following line into your vimrc and restart the vim to see if it can fix this issue?

`au BufEnter *.js,*.jsx syntax sync fromstart`

[2019-05-14 02:50] yuezk commented on #66
Do you use vim or neovim?

BTW, if you are using `vim-polyglot`, please disable (by commenting it out, not by the `g:polyglot_disabled` variable) it entirely for a moment and try again.

[2019-05-14 03:48] pbondoer commented on #66
@yuezk

`syntax sync` autocmds on BufEnter don't seem to do much to help fix the issue unfortunately :(

I'm on neovim. I've also disabled `vim-polyglot` but no dice. Keep in mind the file itself is over 300 lines, with the return statement JSX block spanning well over 200 of those.

[2019-05-14 05:38] yuezk commented on #66
@pbondoer I tested it with a file contains 4000 lines of JSX code (duplicated the JSX code thousands of lines), but it can not be reproduced.

So can you test it with the minimal vimrc like below to see if it can be reproduced?

[code]

And if it can be reproduced with it, can you provide a test file by removing the sensitive code from it?

[2019-05-14 15:11] pbondoer commented on #66
@yuezk

I can definitely reproduce with that minimal `.vimrc`.

Here's [a gist to reproduce](https://gist.github.com/pbondoer/78a57a66897c0724df5b6c395f1c7612) and here's what it looks like to me:

Actual | Expected
--------|--------
![](https://uplr.it/74b26.png) | ![](https://uplr.it/f0482.png)

I've narrowed it down to line 113:

[code]

If I change `from="foobar/*"` to `from="foobar"`, it seem

[2019-05-16 04:30] yuezk commented on #66
@pbondoer Thanks for your test objects.

The reason is that the `jsComment` syntax group from vim-javascript has an `extend` keyword ([here](https://github.com/pangloss/vim-javascript/blob/ee445807a71ee6933cd6cbcd74940bc288815793/syntax/javascript.vim#L204)), which means it will extend the syntax region, so the syntax is highlighted as Comment in your left image.

There is a workaround for this is

[2019-05-18 17:01] pbondoer commented on #66
@yuezk

That does indeed fix the issue for me. Thanks for investigating! Weird issue though!

Feel free to close if you feel the workaround doesn't warrant a fix on your end.

[2019-05-20 07:29] #66 closed

[2019-06-08 14:08] fr3fou commented on #59
How did you manage to fix this? Are you using `typescript-vim` or `vim-polygot`? I've been struggling with the same problem.

[2019-06-08 15:08] yuezk commented on #59
@fr3fou Disable `vim-polygot` and try again.

[2019-06-08 15:16] fr3fou commented on #59
Now I can't get syntax highlighting to appear at all / it appears but disappears after I get out of insert mode:
![image](https://user-images.githubusercontent.com/1344906/59149058-62540600-8a19-11e9-8df3-64538f522a3c.png)

[2019-06-08 15:20] chitoku-k commented on #59
It appears that your screenshot has a conflict with https://github.com/styled-components/vim-styled-components.

[2019-06-08 15:27] fr3fou commented on #59
hmm, disabling it seems to have fixed it, but I have yet to fix another issue -
![image](https://user-images.githubusercontent.com/1344906/59149164-ece93500-8a1a-11e9-916b-2f08f9aaca4e.png)

I don't know what filetype I should be using for typescript and tsx, right now it's set as `typescript` but both it and `typescript.jsx` / `typescript.tsx` give me this error smh

[2019-06-08 15:29] chitoku-k commented on #59
I don't think any problems are remaining, except that your code has some compilation errors.

[2019-06-08 15:30] fr3fou commented on #59
But it compiles fine :/ it's not giving me that error in vscode

[2019-06-08 15:31] chitoku-k commented on #59
It's not because of this syntax plugin but of your plugin that runs tsserver in background. Does your project have tsconfig.json?

[2019-06-08 15:31] fr3fou commented on #59
Yep, it also has jsx enabled. This error only occurs in some files, not all.

[2019-06-08 15:35] chitoku-k commented on #59
That's weird... I can't guess which plugin you are using, but assuming it's coc-tsserver, how about this issue: https://github.com/neoclide/coc-tsserver/issues/35?

[2019-06-08 15:48] fr3fou commented on #59
`autocmd BufNewFile,BufRead *.tsx set filetype=typescript.tsx`
adding this may have just fixed it

[2019-06-08 20:13] sheerun opened #68 "Poor indentation for JSX when pressing Enter"
Here's how to reproduce:

[code]

If you place cursor inside `<div></div>` and press enter, the result is:

[code]

Better result would be:

[code]

This would be analogous to how `.html` files work in vim, or when you press enter inside any parens of `function () {}`. Here's screencast to show that:

https://asciinema.org/a/qQaiDpXwRLrcFf95ViHULRpmq

[2019-06-10 05:31] yuezk commented on #68
@sheerun Thanks for your feedback, will take a look later.

[2019-06-10 17:40] killtheliterate opened #69 "Unknown function: jsx_pretty#syntax#highlight"
I've updated `vim-jsx-pretty` to the latest release via `vim-plug :PlugUpdate`, and am now hitting the above error message when opening `tsx` files.

[code]
Looking through the plugin folder, `jsx_pretty#syntax#highlight` is definitely in there, so not sure what the issue is. Perhaps an interaction with another plugin?

[2019-06-11 01:07] pbondoer commented on #69
Can confirm, same issue on `neovim`.

[2019-06-11 02:06] yuezk commented on #69
@killtheliterate @pbondoer Thanks for your feedback. But I cannot reproduce this issue with either vim or neovim. Can you help provide a minimal vimrc which can reproduce this issue?

[2019-06-11 03:46] yuezk commented on #69
@killtheliterate @pbondoer Can you paste the output of `:scriptnames` command?

[2019-06-11 05:45] yuezk commented on #69
Hi, @killtheliterate @pbondoer Although I didn't reproduce this issue with my local environment, I find a specious code in the `after/syntax/typescript.vim` which may cause this problem. That is, we call the autoload functions at the top level in the `typescript.vim`, which is not recommended by the doc for `:autoload`:

So I replaced it with a `runtime` command, which seems much better.

Can you

[2019-06-11 15:27] killtheliterate commented on #69
@yuezk I will try an update, and then paste back `:scriptnames`.

[2019-06-11 15:35] killtheliterate commented on #69
Bumped to the latest version

Now getting:
[code]

output of `:scriptnames`:
[code]

[2019-06-11 15:41] yuezk commented on #69
@killtheliterate Try add `let g:polyglot_disabled = ['css']` in your vimrc.

[2019-06-11 15:46] yuezk commented on #69
Or disable the `vim-polyglot` plugin and try again. If it was that case, I will try to find a way to fix it.

[2019-06-11 16:41] yuezk commented on #69
Hi, @killtheliterate I can reproduce it on my local environment now. The root cause is that this plugin is a conflict with the `vim-polyglot` plugin. The latter plugin embedded this plugin [several days ago](https://github.com/sheerun/vim-polyglot/issues/400).

If you have both plugins installed and the vim-polyglot is ahead of vim-jsx-pretty, then the autoload functions will load from the vim-pol

[2019-06-11 17:34] ipatch commented on #69
Can confirm,

- disabling this plugin **vim-jsx-pretty**
- installing / enabling **vim-polyglot** via minpac
- and making certain,
[code]
is not in any vim configuration files prevents this error from being displayed while still retaining syntax highlighting for JSX files.

[2019-06-11 17:38] pbondoer commented on #69
@yuezk I've moved `vim-polyglot` ahead in my own config. Thanks for your help!

[2019-06-11 20:57] killtheliterate commented on #69
@yuezk thank you. It seems to be sorted now.

[2019-06-11 20:57] killtheliterate commented on #69
Things described above resolved this, so closing.

[2019-06-11 20:57] #69 closed

[2019-06-12 09:44] elgunhuseynli opened #72 "Crash when opening large file"
I tried to open minified and bundled .js file, but it is crashed. File size is 2.4MB.
Here is the error

![image](https://user-images.githubusercontent.com/49293712/59341042-2b7f3800-8d18-11e9-86b4-a411a0d13720.png)

[2019-06-12 13:49] yuezk commented on #72
@elgunhuseynli Can you provide the bundled.js for reproducing? Thanks.

[2019-06-12 22:25] elgunhuseynli commented on #72
@yuezk And here is the zip file.
[jsbundle.zip](https://github.com/MaxMEllon/vim-jsx-pretty/files/3283381/jsbundle.zip)

[2019-06-16 14:11] yuezk commented on #72
@elgunhuseynli Thanks for the test objects, but I couldn't reproduce this issue with the jsbundle you provided. Does this issue happen on the source code?

[2019-06-16 14:57] #68 closed

[2019-06-16 15:00] yuezk commented on #68
@sheerun You can verify this issue with the latest commit now. Feel free to leave a comment if you still have any questions.

[2019-06-16 16:34] sheerun commented on #68
wow, it's perfect now, thank you :)

[2019-06-16 19:43] elgunhuseynli commented on #72
@yuezk Thanks for testing. No this issue doesn't happen on source.

I can still reproduce the issue. I deleted .vimrc file and all other plugins except vim-jsx-pretty and error still occur.

I thought maybe this issue occur on my Windows 10, so I tried to reproduce on linux environment and yeap it doesn't give error on linux. Also, are you using linux?

[2019-06-17 04:40] yuezk commented on #72
@elgunhuseynli  I'm using macOS and it works well. It's a bit of hard for me to debug it with the bundled js on Windows 10. Since it works well with the source code, I am no longer spend time on this.

Thanks for your feedback again, and if it happens on the source code later, feel free to let me know.

[2019-06-18 08:40] escorponox opened #74 "jsxCloseString does not work with Gruvbox"
jsxCloseString doesn't work well with Gruvbox, it's strange because if I do `hi link jsxCloseString GruvboxRed` in the buffer works as expected.

Something similar to https://github.com/MaxMEllon/vim-jsx-pretty/issues/28

Anyways I made a fork with the things I need.

[2019-06-19 06:15] yuezk commented on #74
@escorponox I have been using the Gruvbox theme all the time, and the `jsxCloseString` works well for me.

![image](https://user-images.githubusercontent.com/3297602/59741126-a4443e00-929c-11e9-92ed-6ec44fe989ab.png)

Can you post your screenshot? Thanks.

[2019-06-26 11:21] #72 closed

[2019-06-26 11:25] #74 closed

[2019-07-10 18:08] jrock2004 opened #76 "What do you lose 'pangloss/vim-javascript'"
I am curious why its recommended to install 'pangloss/vim-javascript'. Curious to why. What are we losing or gaining?

[2019-07-11 05:23] yuezk commented on #76
@jrock2004

Our plugin only highlights the JSX portion of the js source file. The rest of the source file is highlighted by vim-javascript or some other vim plugins, such as `yajs.vim` etc. And yes, you don't have to use any of them to highlight the javascript syntax if you like.

I recommend using vim-javascript, because this plugin is widely used and actively maintained. I also read the source c

[2019-07-11 14:51] jrock2004 commented on #76
Ah ok, so its recommended so you get full highlighting support, gotcha

[2019-07-11 14:51] #76 closed

[2019-07-17 18:58] babangsund opened #77 "Syntax breaks in string literal expression"
Whenever the code wraps, and a parameter has a default value which contains a literal string expression, the syntax highlighting breaks in the remaining of the file.

I've tried installing `vim-jsx-pretty` separately from `vim-polyglot`, however this did not resolve the issue.

Screenshot:
<img width="502" alt="Screenshot 2019-07-17 at 20 53 58" src="https://user-images.githubusercontent.com/52657

[2019-07-17 20:02] jameswritescode commented on #77
I've been running into this issue too (heavy use of graphql-tag and styled-components reveals this _a lot_) but I was not sure if it was vim-jsx-pretty or another plugin 😬

[2019-07-17 21:43] babangsund commented on #77
@jameswritescode Hnng 😅
If I remove the closing `}` tag, right before the ending `, then highlighting actually works again. 🤔

[2019-07-17 23:04] yuezk commented on #77
@babangsund @jameswritescode Can you paste your demo code? I will take an investigation.

[2019-07-18 00:12] babangsund commented on #77
I'll toss you something tomorrow 👍

[2019-07-18 15:51] yuezk commented on #77
@babangsund I can reproduce this issue with your code, and if I disable the vim-jsx-pretty plugin, it still exists. So it should be an issue of vim-javascript.

[2019-07-18 16:06] yuezk commented on #77
I have submitted an issue for vim-javascript (https://github.com/pangloss/vim-javascript/issues/1177).

You can use `yajs.vim` as a workaround before this issue is fixed.

[2019-07-18 16:41] babangsund commented on #77
Fair point. Cheers. 👍

[2019-07-19 09:44] babangsund commented on #77
I personally haven't been able to recreate the issue with styled-components or graphql - I'll let you know if anything changes :-)

[2019-07-19 16:49] jameswritescode commented on #77
Hey! Sorry, will put something together soon! :)

[2019-07-19 17:27] babangsund commented on #77
![you_better](https://user-images.githubusercontent.com/52657398/61553670-333ea480-aa5b-11e9-984d-176d9dfe5522.gif)

[2019-07-19 17:41] jameswritescode commented on #77
@babangsund after digging into the issue I discovered that vim-matchup is the culprit for my highlighting problems 😅

[2019-07-20 03:46] yuezk commented on #77
@babangsund I think there should be a `functionCall` before the opening paren of your demo code. So added it.

[2019-07-25 11:34] babangsund commented on #77
@yuezk Have you had any experience with this issue?

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/52657398/61871281-b9863b00-aee0-11e9-8c54-dea3cc2e8315.gif)

[2019-07-25 13:33] yuezk commented on #77
No, I'm not using graphql, it seems a problem with graphql, but I'll take an investigation when I have time.

[2019-07-27 16:37] yuezk commented on #74
This issue should have been fixed in the latest version.

[2019-08-07 03:23] pandanoir opened #79 "indent decreased when given expression to attribute."
(Sorry for my poor English...)

I found a strange indentation behavior. When JSX element is multiple line and first line includes expression, then vim-jsx-pretty decreases indentation.

[code]

However, following code has the expected indentation.

[code]

and next one also has correct indentation.

[code]

Just a first example has broken indentation. Please fix this problem.

[2019-08-07 10:09] #79 closed

[2019-08-07 10:11] yuezk commented on #79
@pandanoir This issue should be fixed in the latest commit. You can update this plugin and try it by yourself.

[2019-08-13 18:00] redreceipt opened #81 "Fragment Closing Tags Different"
Seeing some inconsistencies when using JSX fragments.

<img width="714" alt="Screen Shot 2019-08-13 at 1 58 57 PM" src="https://user-images.githubusercontent.com/2659478/62965252-9f9a9280-bdd2-11e9-85c0-37ab4956d2de.png">

[2019-08-14 02:49] yuezk commented on #81
@redreceipt It seems not very long file, could you please provide the demo code which can reproduce this issue? I would like to investigate the root cause. Thanks.

[2019-08-14 03:54] redreceipt commented on #81
Seems to have fixed itself. If I find something reproducible, I'll open it back up.

[2019-08-14 03:54] #81 closed

[2019-08-18 09:47] impulse opened #82 "Support javascriptreact / typescriptreact filetypes"
It would be nice to also have this plugin enabled if above filetypes are set.

[2019-08-18 14:29] yuezk commented on #82
Wondering which plugin will set the filetypes to javascriptreact / typescriptreact?

[2019-08-18 14:44] impulse commented on #82
@yuezk plugins that implement Microsoft language protocol [LSP specification](https://microsoft.github.io/language-server-protocol/specification). coc.nvim has a fallback if someone uses `javascript.jsx` or `typescript.tsx` though

[2019-08-18 14:59] yuezk commented on #82
This plugin has no special logic for filetypes. It works well for filetypes which are javascript/typescript, javascript.jsx/typescript.tsx.

Does the rest part of your JavaScript code highlight correctly when using javascriptreact / typescriptreact?

[2019-08-18 16:28] impulse commented on #82
No this plugin only works when using `javascript.jsx` / `typescript.tsx` not when using `javascriptreact` / `typescriptreact` hence this issue.

[2019-08-19 01:51] yuezk commented on #82
@impulse What I mean is which javascript highlighting plugin do you use? (i.e., are you using `pangloss/vim-javascript` or `yajs.vim` or whatever?) Do they work well for the `javascriptreact` / `typescriptreact` filetypes.

[2019-08-19 06:22] impulse commented on #82
@yuezk I use the following:
[code]

There is no syntax highlighting for javascriptreact (javascript.jsx is the above split)

![Screenshot 2019-08-19 at 08 21 22](https://user-images.githubusercontent.com/8146736/63243282-5aef7b00-c25a-11e9-9cde-d83556cfc2b5.png)

[2019-08-19 06:43] yuezk commented on #82
Do you know which plugin changed the filetype to `javascriptreact`?

[2019-08-19 06:57] impulse commented on #82
@yuezk from what I know they are no official vim filetypes so I set them manually
(I have no plugin who does this)
[code]

Someone might however set the filetype for `javascriptreact` or `typescriptreact` instead and have no syntax highlighting. I thought it would just be a nice addition for that case.

[2019-08-21 02:11] yuezk commented on #82
Currently, I have no idea how to implement this.

[2019-08-27 07:03] snoblenet opened #85 "Option to only work on `.jsx` files"
Is there a way to configure this to *only* work on `.jsx` files?

For now I've just manually removed every instance of `typescript.vim` from my local copy of the plugin to stop it from deciding that TypeScript type references surrounded by triangle brackets in my `.ts` files are actually embedded JSX.

[2019-08-27 07:10] yuezk commented on #85
So, you mean it affects the typescript syntax highlighting? Why not provide the reproducible code and I will take an investigation?

[2019-08-27 12:14] impulse commented on #82
**Update**: I opened up an issue over at the vim repo and talked with the author. He did not like making the dot syntax official, however he accepted the proposal on making `javascriptreact` and `typescriptreact`official vim filetypes.

Unfortunately this would be my only affected plugin by that change. I'll take a look at the source if I can come up with a solution.

Discussion for reference: htt

[2019-08-27 13:34] yuezk commented on #82
@impulse Appreciate for your follow up.

But for React users who use `.js` as the extension, the filetype is still `javascript`, right? If it is that case, I want to know if the `coc.vim` plugin works as expected?

[2019-08-27 13:50] impulse commented on #82
Yeah .js will continue to be filetype `javascript`. The coc.vim plugin works as it would in VSCode since language servers triggers on [both](https://github.com/mhartington/nvim-typescript/blob/baeae12457de151b99cb953fdb6a6bf04ee454ac/plugin/nvim_typescript.vim#L125) extensions. Extensions and snippets usually define which filetypes are supported in their `package.json`.

[2019-09-04 15:10] sheerun opened #86 "Incorrect syntax highlighting with yats.vim"
.vimrc used:

[code]

When I have file with following contents:

[code]

And then press enter, next line is wrongly indented. Could you please fix this?

Reference: https://github.com/sheerun/vim-polyglot/issues/428

[2019-09-06 02:21] yuezk commented on #86
Thanks for your feedback, will take a look in my spare time.

[2019-09-10 05:34] yuezk commented on #86
@sheerun I can reproduce this issue without `vim-jsx-pretty`. So this should be an issue of `yats.vim`.

[2019-09-16 02:17] yuezk commented on #86
@sheerun Closing this issue since it's not an issue of this plugin.

[2019-09-17 11:59] APZelos opened #88 "The cursor movement lags after the new way of restoring the cursor"
After the last commit https://github.com/MaxMEllon/vim-jsx-pretty/commit/6871eb1696478a8e295bab3e5ae7aae05faa2605 the cursor movement lags.

To reproduce keep `h`/`j`/`k`/`l` pressed with high key repeat.

OS: macOS (10.14.6)
terminal: Kitty / iTerm2
editor: neovim (0.4.2)

[2019-09-17 21:41] pcasaretto opened #89 "Difference in highlighting colors when setting vim_jsx_pretty_highlight_close_tag"
Output when I open a js file, then issue `:let g:vim_jsx_pretty_highlight_close_tag = 1`, followed by `:e`

<img width="922" alt="Screen Shot 2019-09-17 at 18 37 41" src="https://user-images.githubusercontent.com/817039/65081704-9e80f600-d97a-11e9-9241-4dc1224ea778.png">

Output when I open a js file while having `let g:vim_jsx_pretty_highlight_close_tag = 1` in my vimrc

<img width="922" alt="Scr

[2019-09-18 04:21] #88 closed

[2019-09-18 04:21] yuezk commented on #88
@APZelos Thanks for your feedback, PR has been reverted.

[2019-09-18 04:38] yuezk commented on #89
@pcasaretto Thanks for your feedback.

The second way is recommended since we use `hi` command to highlight the syntax group, and once a syntax group has been linked to a color group, it won't be changed unless we use the `hi!` command.

So, the dynamic change of the global variable is not recommended.

The closing tag is [highlighted](https://github.com/MaxMEllon/vim-jsx-pretty/blob/89c30c0defe8d

[2019-09-18 17:13] pcasaretto commented on #89
Thanks for the reply @yuezk !
I *really* like how the the first image looks.
I still do not understand why the two different strategies result in different colors.
Is something else in my vimrc overriding the highlighting configuration?
I'm gonna go ahead and close the issue, but I would definitely appreciate the help to reach that beautiful highlighting scheme.

[2019-09-18 17:13] #89 closed

[2019-09-19 03:06] yuezk commented on #89
@pcasaretto Seems that you are using the [dracula color scheme for vim](https://github.com/dracula/vim). If you prefer the first syntax highlighting, you may need to add the following configuration in your vimrc with the highlight close tag enabled.

[code]

Below is my screenshot with the above configuration.

![image](https://user-images.githubusercontent.com/3297602/65210282-3989e500-dacd-11e9-

[2019-09-19 06:49] sQVe commented on #86
@yuezk, @sheerun: The indenting is an issue with `yats.vim`. The issue (https://github.com/sheerun/vim-polyglot/issues/428) refered to highlighting. As soon as I add `vim-jsx-pretty` the following breaks highlighting for all code below it:

[2019-09-19 08:34] b-nik opened #91 "Indent is wrong when line ends with a braced expression"
Hello, I'm using this plugin through vim-polyglot on Vim 8.1-1967

When a {} expression is at the end or at the beginning of a line in a render function, then
the indent breaks. Below is the exact indent that is produced:

[code]

[2019-09-19 09:06] sheerun commented on #86
@sQVe If that's issue with yats.vim maybe you'll open an issue there?

[2019-09-19 09:31] yuezk commented on #86
@sQVe OK, I see. I'll reopen this issue.

[2019-09-19 12:50] pcasaretto commented on #89
Aw yeah! Thanks for your support and for this great plugin.

[2019-09-22 12:24] moll commented on #91
It seems to also affect the following nested use:

[code]

It doesn't detect the nesting of `<li>` and insists `<h3>` should align with `{subscriptions...`.

[2019-09-22 12:25] moll commented on #91
In fact, if the above snippet is part of another tag, it also seems to break the nesting of `</ul>`. It tries to unnest `</ul>` and move it one level lower (leftward) than its opening tag `<ul>`.

[2019-09-23 03:41] yuezk commented on #91
Thanks for the feedback, I will take a look when I have the time.

[2019-10-10 18:06] davidroeca commented on #86
I think the highlighting of generic functions is an issue here around how a `JSX` group is defined. I've encountered the same issue in https://github.com/leafgarland/typescript-vim and also in https://github.com/pangloss/vim-javascript with flow.

[2019-10-10 19:34] davidroeca commented on #86
Created a simple repo that reproduces this issue both for `flow` and `typescript` https://github.com/davidroeca/vim-jsx-pretty-issue-86-repro

[2019-10-11 22:02] davidroeca commented on #86
My best guess at a fix would be an edit in the following lines:

https://github.com/MaxMEllon/vim-jsx-pretty/blob/c3dc9207fc2253bfea330d662960c7dff796ecbd/after/syntax/jsx_pretty.vim#L38-L41

But it's tough for me to be sure; the regex is giving me a bit of a headache :sweat_smile:

[2019-10-12 09:29] yuezk commented on #86
@davidroeca Thanks for your investigation. This regex is indeed complex because we have to use it to detect the jsx tag start boundaries and the boundaries vary greatly.

Currently, it can be simplified because this plugin has no assumption on which plugin is used.

I will try to fix this issue in a few days.

[2019-10-13 14:52] kyoz opened #92 "Is this plugin support js files ?"
Firstly, thank you for awesome plugin. Currently i'm learning React so i want to implement this to match my [purify](https://github.com/kyoz/purify)'s color.

Of course i know this plugin aiming for jsx, but in the indent example i see that you are using js file. I'v tried js file but it not working. Am i missing anything.

By the way, i'm trying to support this plugin for my vim theme so i tried

[2019-10-13 14:59] kyoz commented on #92
I forgot a picture to demonstrate this.

On the left is 'jsx' and on the right is 'js' file:

![](https://i.imgur.com/rOc1n42.png)

I'm just using [leafgarland/typescript-vim](https://github.com/leafgarland/typescript-vim) plugin for typescript. The rest is all vim built-in syntax.

[2019-10-14 13:32] yuezk commented on #92
I think it's a problem with your plugin. The syntax groups defined in your color.vim broke the syntax highlighting.

Try to comment out this line.

https://github.com/kyoz/purify/blob/2fd85fb6a448af98abd0a8452a8849d7cd7a3bcc/vim/colors/purify.vim#L365

[2019-10-14 15:20] kyoz commented on #92
Yeah, i'v tested. it's definitely the error of that syntax:

[code]

But i'v tried this regex, it's working normally. I really don't know what cause conflict error there. Do you have any idea. Sorry i'm not really good at regex.

[2019-10-15 02:13] yuezk commented on #92
The definition order of the syntax in Vim matters. So in my humble opinion, if you want to overwrite the syntax of some file type, you would better do it in the `syntax/<filetype>.vim`.

So for this issue, you can try to move the overwrite rules to the `syntax/javascript.vim` file of your plugin.

[2019-10-15 13:43] kyoz commented on #92
Hi @yuezk , that's really a good idea. I'v updated my plugin to separate custom defined syntax in `syntax/` folder and it now work perfectly.

![](https://i.imgur.com/pjm883f.png)

So, i'll close this issue cause this's not vim-jsx-pretty issue. Thank you a lot for your plugin and helping :heart:

[2019-10-15 13:43] #92 closed

[2019-10-16 06:40] yuezk commented on #86
@davidroeca @sQVe @sheerun

I think this issue is hard to fix and I'm trying to explain it.

Vim syntax highlighting has its limitation because it uses the regex to match the syntax and it's a static match, for most of the cases, this mechanism works well since most of the language syntax is unambiguous.

But the test case in this issue is ambiguous.
[code]
`<T>` can be the start element of a jsx

[2019-10-16 07:03] sQVe commented on #86
@yuezk I understand. Thank you for diving deep into this issue :pray:

I mostly write JavaScript / TypeScript in a functional manner so the likelyhood of me writing functions like `const head = <T>(arr: T[]): T => arr[0]` is quite a bit larger than using a `<T>(...)</T>` JSX block. The JSX counterpart is also easier to repair with newlines etc.

I vote to fixing the generic type case even though i

[2019-10-16 07:37] yuezk commented on #86
@sQVe You can update this plugin and use the workaround by adding a trailing comma after `T`.

[code]

[2019-10-16 10:46] sheerun commented on #86
I also agree that `const head = <T>(arr: T[]): T => arr[0]` is probably more popular than `<T>(...)</T>`, so probably checking if `<T>` is followed by a `(` is fair indicator (or checking if `</T>` is present in the same line).

Also good indicator is that it's capital case e.g. in my codebase there's `<span>({photos.length})</span>` but it cannot be generic type because it's lower case.

[2019-10-16 11:01] sQVe commented on #86
Using a capital letter for a generic type is considered good practice but it is not required. The following snippet is valid TypeScript:

[code]

[2019-10-16 11:46] sheerun commented on #86
Then it's at least good clue :)

[2019-10-16 16:54] davidroeca commented on #86
@yuezk thanks for taking the time here!

I’m good with either approach as long as what correctly highlights is compatible with what linters and prettier expect. I know prettier removes unnecessary parens. I’d assume most standard linter configs would complain about lower-case type variables.

[2019-10-17 10:31] impulse commented on #82
Not sure if you guys changed something in the meanwhile but the issue is resolved for me.

[2019-10-17 10:31] #82 closed

[2019-10-18 02:49] yuezk commented on #82
Actually, we didn't change anything about this issue. 😅

[2019-10-21 09:01] mrjeanp opened #94 "Auto indent fails with <></> (fragment shorthand) and self closing tags"
Seems the plugin isn't recognizing this syntax and is having trouble auto indenting

Example 1
[code]

Example 2
[code]

Example 3
[code]

[2019-10-21 09:12] yuezk commented on #94
The above test cases work fine for me? Wondering are you using the latest plugin and which js plugin do you use?

[2019-10-21 09:21] yuezk commented on #94
![example1](https://user-images.githubusercontent.com/3297602/67192953-15e8f000-f427-11e9-9f44-b863d52f5363.gif)
![example2](https://user-images.githubusercontent.com/3297602/67192950-15505980-f427-11e9-9b16-1ff01c020272.gif)

[2019-10-21 09:25] mrjeanp commented on #94
I just installed it, im using gVim on windows with:
[code]

[2019-10-21 09:30] mrjeanp commented on #94
i restarted gVim and now it works WTF?

[2019-10-21 10:22] yuezk commented on #94
Glad it works, I'm going to close this issue.

[2019-10-21 10:22] #94 closed

[2019-10-31 17:05] alecschule opened #95 "How can I force jsx syntax highlighting?"
Hi,

I apologize if this is a silly question, but I can't figure it out. I want to force JSX syntax highlighting in a file with something like `set syntax=jsx` (this results in no highlighting at all), but I can't get it to work. My first thought was to try other names, including `jsx-pretty`, `vim-jsx-pretty`, and `javascript.jsx`, but I had no success.

Can you please point me to the right synta

[2019-11-01 05:57] yuezk commented on #95
@alecschule  You can try this command: `set syntax=javascript`.

[2019-11-01 16:46] alecschule commented on #95
Thank you for the reply. The JSX part of my javascript highlighting doesn't seem to work, so maybe something went wrong with the plugin install. My other plugins work fine, so I may follow up here if I can pinpoint exactly what went wrong.

[2019-11-01 16:46] #95 closed

[2019-11-03 21:01] devsnek opened #96 "jsx detection breaks highlighting js left shift"
In a JS left shift expression (`a << b`), if the rhs is an identifier, it switches to jsx highlighting. It works fine if the rhs is not an identifier.

![](https://gc.gy/40447692.png)
![](https://gc.gy/40447705.png)
![](https://gc.gy/40447717.png)
![](https://gc.gy/40447740.png)

[2019-11-04 02:32] yuezk commented on #96
Hi, @devsnek Thanks for your feedback. Please update this plugin and verify it.

[2019-11-04 04:12] #96 closed

[2019-11-04 07:24] yuezk commented on #85
@snoblenet I'm closing this issue since I have added the `g:vim_jsx_pretty_disable_tsx` option to disable this plugin on typescript files in #98. You can change it to `1` to disable this plugin on typescript files.

[2019-11-04 07:24] #85 closed

[2019-11-04 07:46] yuezk commented on #86
Hi, @sheerun @sQVe @davidroeca @tsuyoshicho This issue should have been fixed in #99. Update this plugin and take a look, Thanks.

[2019-11-04 10:24] #86 closed

[2019-11-05 03:44] Trial-In-Error commented on #82
Just ran into this myself. Pretty sure the offending plugin is [coctsserver](https://github.com/neoclide/coc-tsserver/blob/master/Readme.md#coc-tsserver). I added the two autocmd's that @impulse mentioned and appear to have both tsserver fixes and vim-jsx-pretty highlighting and indentation. Whoo!

[2019-11-05 03:53] yuezk commented on #82
@Trial-In-Error Thanks for your feedback, glad it works well. BTW, I'm wondering about the version of your Vim.

[2019-11-05 06:26] Trial-In-Error commented on #82
nvim @ v0.4.2
[code]

[2019-11-05 13:30] impulse commented on #82
@Trial-In-Error I am actually not using those autocmds anymore on the same nvim version. It works fine for the javascriptreact and typescriptreact filetypes for me.

My dotfiles for reference: https://github.com/impulse/dotfiles/blob/master/vim/.vimrc

[2019-11-09 06:59] HeeJoong opened #101 "[Question] Changing tag color and matching tag highlight"
Hi. thank you for this great plugin
with the vim-jsx-pretty default setting, the tag < and > appears to have the same color as comment syntax, as we can see No.1 and No.2 on the image below.

so I was wondering
1. if there is any way to change the color like No.3 (gray color)
2. if you know any vim plugin that can implement a matching tag highlight function on jsx file like the effect No.4

![2019

[2019-11-09 08:57] yuezk commented on #101
This a good feature. And I think it can be implemented with the `searchpair()` API.

May I know which plugin do you use to highlight the right one?

[2019-11-10 02:40] slice opened #103 "HTML within groups in regexes highlighted as JSX"
This `<div>` in this code is misinterpreted as JSX by the plugin:

[code]

This leads to the tokens after being highlighted incorrectly too:

![image](https://user-images.githubusercontent.com/4206232/68537883-47672400-0320-11ea-9f15-e8e62a388116.png)

[2019-11-10 02:43] slice commented on #103
Turns out this is a problem with [yajs.vim](https://github.com/othree/yajs.vim).

[2019-11-10 02:43] #103 closed

[2019-11-10 08:08] HeeJoong commented on #101
Thanks. I will try that out! The first one would be easy to implement. Do you think if there will be any chance you guys could add the pair highlighting feature in the future update?

I use 'codedark' colorscheme -> [tomasiser/vim-code-dark](https://github.com/tomasiser/vim-code-dark)
and the plugin I used for the right one is 'matchtagalways' -> [Valloric/MatchTagAlways](https://github.com/Vallor

[2019-11-10 08:13] yuezk commented on #101
I will try to integrate with the MatchTagAlways plugin first, I will try to implement this feature if it doesn't work.

[2019-11-10 08:26] yuezk commented on #91
@b-nik @moll Sorry for the late update. I have made lots of changes for this plugin, seems that this issue has been fixed in these changes. So could you please update the plugin and verify it? Thanks.

[2019-11-10 08:57] yuezk commented on #101
@HeeJoong For the second question, please add the following config in your vimrc.

[code]

Please pay attention to the performance of moving cursor.

Reference: https://github.com/Valloric/MatchTagAlways/issues/30

[2019-11-10 09:03] yuezk commented on #101
And for the first question, please try to add `hi link jsxCloseString htmlTag` into your vimrc.

[2019-11-10 10:53] HeeJoong commented on #101
Thank you so much yuezk! That's very kind of you.
Everything working perfectly as I wanted.
I don't know how I missed adding javascript on mta_filetypes. I tried just 'js' and 'jsx' and thought maybe it's not working for the javascript file. shame on me.
Thanks and happy coding! :-)

[2019-11-10 10:54] #101 closed

[2019-11-10 10:57] yuezk commented on #101
@HeeJoong Because you need to add filetypes, `js` and `jsx` are extensions, not filetypes.

[2019-11-10 14:04] yuezk commented on #77
@babangsund Sorry for the late update.

As my [comments above](https://github.com/MaxMEllon/vim-jsx-pretty/issues/77#issuecomment-512881655), this is a [bug](https://github.com/pangloss/vim-javascript/issues/1177) from the pangloss/vim-javascript plugin. This issue could be fixed and I tried to [submit a PR](https://github.com/pangloss/vim-javascript/pull/1178) to fix it, but I found that it's not

[2019-11-10 21:21] babangsund commented on #77
It seems you've fixed the issue. Thanks!

[2019-11-10 21:21] #77 closed

[2019-11-11 09:33] sassanh opened #105 "Wrong indentation"
I'm thankful for this great plugin you made, I had my own fork of `vim-jsx` and used it all these years but I had a hard time updating it with new technologies (like typescript, etc) I'm really glad that this plugin works with typescript out of the box.

I have a minor issue with indentation, consider this block of code:

[code]

This is how it's blocked by `vim-jsx-pretty` but I think the inner `

[2019-11-11 14:43] yuezk commented on #105
Thank you for your feedback, I will take a look. I think the workaround for this is like below.

[code]

[2019-11-12 10:03] b-nik commented on #91
@yuezk Tested and it works now. Thanks for your work :)

[2019-11-12 10:59] #91 closed

[2019-11-13 14:53] #105 closed

[2019-11-13 14:54] yuezk commented on #105
@sassanh This issue should have been fixed in the latest version. Please update this plugin and verify it. Thanks.

[2019-11-13 16:14] sassanh commented on #105
@yuezk it's working perfectly fine except one issue, I tried it with some big files I have, and it didn't change anything when I did a `gg=G` except ternary ifs, when I have something like this:

[code]

it adds an additional indentation level, I had long discussions with `vim-javascript` authors like this one: https://github.com/pangloss/vim-javascript/issues/618#issuecomment-243968811

[2019-11-13 23:38] yuezk commented on #105
I see, I will keep improving indentation.

[2019-11-14 04:49] yuezk commented on #105
Hi, @sassanh Fixed in the latest commit.

[2019-11-14 09:51] sassanh commented on #105
It's working great now, I checked it with some big files. There's a weird behavior sometimes: if I press `gg=G` some lines sometimes get weird indentation, if I press `ugg=G` this time another set of files may get weird indentation, sometimes all indentation is correct, but in the same file if I run indentation again it may ruin some lines, if I go to the ruined lines and press `==` one by one it

[2019-11-14 10:04] yuezk commented on #105
OK, feel free to open a new issue if you encountered a new issue. Thanks.

[2019-11-21 20:52] vjsingh opened #110 "Auto-indenting of properties?"
Given the following code block:
[code]
or
[code]

I can't get the plugin to auto-indent to the below. Is this supposed to work?

[code]

[2019-11-22 06:28] yuezk commented on #110
@vjsingh This scenario is not supported. Because the `indentexpr` in vim can only return the indent space of the current line, it can not modify the content.

See `h:indentexpr` for more info.

[2019-11-22 14:18] vjsingh commented on #110
@yuezk OK my fault, thanks for the info.

[2019-11-22 14:18] #110 closed

[2019-12-10 09:07] maharjanaman opened #111 "Matching Curly Braces Highlight Wrong for JSX"
Seems curly braces highlight, highlights different opening or closing brackets.
<img width="497" alt="Screen Shot 2019-12-10 at 14 51 21" src="https://user-images.githubusercontent.com/14164484/70514952-97721a00-1b5c-11ea-82d4-1ea720cf6d81.png">

[2019-12-10 09:15] yuezk commented on #111
It seems not an issue of this plugin. Could you please only enable this plugin and see if it is still reproducible?

[2019-12-10 10:00] maharjanaman commented on #111
Yes, I did that too. I was using `sheerun/vim-polyglot`, disabled it, added this one but still no luck. Other I've is just `tpope/vim-surround` and some themes. Sorry for the trouble.

[2019-12-11 04:26] yuezk commented on #111
I can reproduce it.

I suggest you use the [itchyny/vim-parenmatch](https://github.com/itchyny/vim-parenmatch) plugin and disable the built-in matchparen plugin by adding `let g:loaded_matchparen = 1` in your vimrc. Because the former works well.

[2019-12-11 04:43] maharjanaman commented on #111
I'm sorry, you can or can't. FYI, I'm using neovim.

[2019-12-11 05:08] yuezk commented on #111
Yes, I can reproduce this issue on my local environment.

But I think this issue is more like an issue of the built-in matchparen plugin as it works well with itchyny/vim-parenmatch.

So, I suggest you to switch to the itchyny/vim-parenmatch plugin and disable the built-in matchparen plugin.

[2019-12-11 05:24] yuezk commented on #111
The root cause is that the syntax group jsxEscapeJS is conflict with the built-in matchparen plugin, another solution is updating the syntax group to another name.

And if you don’t want to install another plugin, please wait the updating. I will do that soon.

[2019-12-11 05:26] maharjanaman commented on #111
Oh ok, thanks for the effort.

[2019-12-11 06:39] yuezk commented on #111
@maharjanaman Fixed in the latest commit.

[2019-12-11 10:05] #111 closed

[2019-12-11 20:32] AerynHachey commented on #85
A better fix would be to disable it in just .ts files rather than .tsx. .tsx files are .ts files that will contain jsx, and thus want jsx highlighting. .ts files normally don't contain jsx, and would want this plugin to ignore them to avoid breaking highlighting.

The root of the issue seems to be that Typescript uses triangular brackets to cast objects. Example:

`foo(<any>bar);`

This gets picke

[2019-12-12 23:29] yuezk commented on #85
@AerynHachey I see, will take a look later.

[2019-12-18 08:01] rnmp opened #113 "Comments inside JSX blocks"
Hey first of all, your plugin is absolutely great. Love it.

The only problem I've been having is comments inside JS blocks don't seem to be highlighted properly.

![image](https://user-images.githubusercontent.com/22627/71067187-1a3d3b00-2142-11ea-9b66-5f221bce9c3f.png)

The first comment shows the default behavior, essentially comments are not highlighted properly and reserved words such as `thi

[2019-12-19 01:43] yuezk commented on #113
@rnmp Which syntax highlighting plugin do you use for JavaScript?

[2019-12-19 11:41] pbondoer opened #114 "Syntax highlighting breaks inside typescript files when type casting"
When using `<Foo>bar` type casts, syntax highlighting and indentation completely break.

![https://uplr.it/3aca0.png](https://uplr.it/3aca0.png)

I initially thought this might be an issue with `typescript-vim` but upon further investigation I can confirm this only happens when both `vim-jsx-pretty` and `typescript-vim` are enabled.

#### Minimal `.vimrc` to reproduce (with `vim-plug`)

[code]

##

[2019-12-19 12:06] yuezk commented on #114
Thanks for your reporting. This is a known issue and it's difficult to fix, but I'll try it later.

[2019-12-19 12:11] yuezk commented on #113
@rnmp I failed to reproduce this issue, below is my screenshot.
![image](https://user-images.githubusercontent.com/3297602/71172546-7c5d8380-229b-11ea-920e-1a6e02374179.png)
So, I think it's a problem of your syntax highlighting plugin you used for JavaScript.

BTW, I'm using [yuezk/vim-js](https://github.com/yuezk/vim-js) to highlight JavaScript.

[2019-12-19 12:20] yuezk commented on #113
Noticed that you have a dotfiles repo, so I used the vimrc in that repo and didn't reproduce this problem either.

![image](https://user-images.githubusercontent.com/3297602/71173068-c72bcb00-229c-11ea-9621-0ac31d79ee7b.png)

If this issue still happens on your machine, could you provide the vimrc file to me for reproducing?

[2019-12-19 12:38] yuezk commented on #114
@pbondoer For now, I recommend you to use the `as` syntax to cast the type. That is:

[code]

https://basarat.gitbooks.io/typescript/docs/types/type-assertion.html#as-foo-vs-foo

[2019-12-19 14:29] pbondoer commented on #114
I looked into `vim-jsx-typescript` as an alternative but it seems to suffer from the same issue. I've opened an issue on their tracker:

https://github.com/peitalin/vim-jsx-typescript/issues/21

However, I've chosen to use that plugin instead for now, as `vim-jsx-pretty` with TypeScript support on (using `g:vim_jsx_pretty_disable_tsx = 1`) breaks even non JSX files, whereas the other plugin is sco

[2019-12-19 14:40] yuezk commented on #114
@pbondoer I came up with a solution for this issue, you can update this plugin and test it.

For the extension problem, I will update it soon.

[2019-12-19 14:54] pbondoer commented on #114
@yuezk It seems to work on my simple test case and on complex files that used to have issues. I'll let you know if anything weird pops up.

However, brackets are not getting any highlight. Though I'm willing to live with that:

![https://uplr.it/44b8b.png](https://uplr.it/44b8b.png)

Thank you! :heart:

[2019-12-19 14:58] yuezk commented on #114
I noticed that and just committed a change, you update it again.

[2019-12-19 15:05] pbondoer commented on #114
@yuezk It now highlights `string`, none on the brackets though. Is it intentional? I would expect them to stand out in the same way `as` stands out or parametric angle brackets stand out in `Promise<FooBar>`.

[2019-12-19 15:22] yuezk commented on #114
@pbondoer Added the highlight for brackets. Update it again.

[2019-12-19 15:25] yuezk commented on #85
Hi, @AerynHachey, highlighting for `foo(<any>bar);` seems has been fixed in #114.

[2019-12-19 16:10] rnmp commented on #113
Hey @yuezk thanks so much for thoroughly debug this! I did a bit more due diligence and turns out that the problem is when the filetype is `typescript.tsx`. Can you confirm you can reproduce the error when you change set that filetype?

[2019-12-19 16:19] pbondoer commented on #114
Seems to work good on a large test file! I'll close this issue. Feel free to re-open if needed :tada:

[2019-12-19 16:19] #114 closed

[2019-12-19 16:33] rnmp commented on #113
Alright, I figured it out, the problem is `HerringtonDarkholme/yats.vim`, I tried with `leafgarland/typescript-vim` and it works fine. Any reason you recommend yats over the latter? `typescript-vim` seems to work better in other scenarios too…

Anyway, feel free to close.

[2019-12-20 05:53] yuezk commented on #113
@rnmp I see, and I found that it's a bug of this plugin, I have fixed it in the latest commit. You can update this plugin and have a try.

[2019-12-20 08:39] rnmp commented on #113
Confirmed fixed! Thanks for looking into it.

[2019-12-20 08:39] #113 closed

[2019-12-20 14:11] rnmp opened #120 "Issue when opening new lines"
Hey @yuezk! Got a new one for you :)

![pressing o](https://user-images.githubusercontent.com/22627/71260260-6b972700-2308-11ea-9557-571ba1f92252.gif)

When I open new lines on component opening tags that are multiline, I get this extra `>` character. I disabled closetags and other similar plugins and I still see this behavior. Any idea what it could be?

[2019-12-21 14:13] yuezk commented on #120
@rnmp Comment out [this line](https://github.com/rnmp/dotfiles/blob/068fb16b507a8c87e7e313bb4a8ac7f8804910ce/.config/nvim/init.vim#L177), it's no longer needed, vim has set the filetype for `ts/tsx`, then everything will back to normal.

If you keep this line, it will cause the yats.vim to add the extra `>` character.

[2019-12-21 22:52] rnmp commented on #120
You're a rockstar! Thanks @yuezk.

[2019-12-21 22:52] #120 closed

[2019-12-23 12:34] GlyphGryph opened #121 "Is there an easy way to disable autoindenting and only get the syntax highlighting?"
None of the traditional means of disabling autoindenting seem to be working.

[2019-12-23 14:28] yuezk commented on #121
You are right, but may I know the situation where you want to disable the auto-indentation?

[2019-12-23 15:34] GlyphGryph commented on #121
...all situations?

[2019-12-24 02:43] yuezk commented on #121
But the Vim standard auto-indent doesn't support the JSX indent convention well. So it extended the default indent behavior by adding the indentation logic for JSX.

BTW, you can add `finish` at the start of the `after/indent/javascript.vim` or `after/indent/tsx.vim` to disable the indentation temporarily and to see whether the behavior is you expected.

[2019-12-27 02:57] alexseitsinger opened #122 "Highlighting fails"
Greetings,

It appears that syntax highlighting fails for portions of a **.tsx** file when a needed ReturnType is inserted into an arrow function. Also, when operating on a **.tsx** file, object destructuring fails to be syntax highlighted as it is with **.jsx** files.

I have previous tried disabling each plugin and re-enabling them individually with no success.

To me, it appears like adding the

[2019-12-28 06:21] yuezk commented on #122
@alexseitsinger Could you provide the code snippets and screenshots if possible?

[2019-12-28 07:00] alexseitsinger commented on #122
**No syntax highlight for props (with/without parameters):**
![object-destructuring-no-syntax-highlight](https://user-images.githubusercontent.com/16756928/71540024-f08acd80-2912-11ea-9063-0d3e0c33b3c7.png)

**Syntax highlighting is all green ([using this component](https://github.com/alexseitsinger/react-render-controller)). (with/without parameters):**
![syntax-highlight-all-green](https://user-

[2019-12-30 13:11] alexseitsinger commented on #122
After further investigation, it appears this issue may be connected to limitations of the 'HerringtonDarkholme/yats.vim' plugin.

[2020-01-06 14:49] sheepwall opened #123 "Indentation problem inside brackets"
# Problem
The indentation for self-closing tags ("Airbnb" style I believe it is called) doesn't work when **inside brackets (`{condition && ( ... )}`)**.

Both auto-indentation and `gg=G` creates this.

# Examples
## Here indentation is wrong
[code]

## It works when a jsx component is direct parent (e.g. Fragment)
[code]

[2020-01-06 15:38] yuezk commented on #123
I see, but it’s an invalid usage in React. Multiple elements must be wrapped in another element or the fragment, right?

[2020-01-06 17:00] sheepwall commented on #123
The div elements surrounding the `{true && (...)}` makes it valid.

(In my simplified example it seems dumb to not just move them inside, but it is justified if the div would be a more complex element, for example.)

[2020-01-07 02:28] yuezk commented on #123
@sheepwall According to the React compiler, `Adjacent JSX elements must be wrapped in an enclosing tag.`, and your simplified snippet could fail to compile, that's why I said it was an invalid React usage.

So, the simplified example might not be suitable. What does the real use case look like?

[2020-01-07 09:03] sheepwall commented on #123
Yes I think you are right! The compiler doesn't like it. I was mistaken, have a good day :^)

[2020-01-07 09:03] #123 closed

[2020-01-24 23:17] pappasam opened #124 "Disabling on typescript.tsx does not work"
For me, the option to disable on typescript files has no effect. vim-jsx-pretty still overrides my syntax regions (I'm trying to use https://github.com/peitalin/vim-jsx-typescript/issues/4, which has better support for tsx).

[code]

Relevant filetype: `typescript.tsx`

[2020-01-26 02:59] yuezk commented on #124
Hi @pappasam, it seems not an issue of this plugin, I did add the option to stop loading the syntax highlighting for tsx in this plugin.

https://github.com/MaxMEllon/vim-jsx-pretty/blob/838cfce82df8cf99df5e3a200ad23f6c0f027550/after/syntax/tsx.vim#L10-L12

Are you using the latest version?

[2020-01-26 22:50] pappasam commented on #124
@yuezk point well taken. After doing some profiling, it turns out that [vim-styled-components](https://github.com/styled-components/vim-styled-components) was the culprit. It automatically loaded the javascript.vim for all typescript plugins. I'll file an issue there.

[2020-01-26 22:50] #124 closed

[2020-01-28 16:04] michaelj777 opened #125 "[Question] can I set custom indentation for jsx files?"
I have your plugin installed and was wondering if I could use it to configure custom indentation for jsx files. I can enable that for javascript and html files with the following lines.

`autocmd FileType javascript setlocal tabstop=2 softtabstop=2 shiftwidth=2`
`autocmd FileType html setlocal tabstop=2 softtabstop=2 shiftwidth=2`

But when I try that with a `jsx` file type it doesn't work. I have

[2020-02-05 16:46] michaelj777 commented on #125
Nevermind, found a way to set it. Just needed to define javascriptreact as the FileType.

[2020-02-05 16:46] #125 closed

[2020-02-20 04:54] #122 closed

[2020-03-06 01:51] Abdullah-F opened #126 "what command can I use to format my file ?"
as you posted [this](https://raw.githubusercontent.com/MaxMEllon/demos/master/vim-jsx-pretty/auto-indent.gif) in your read-me file I can see you have the sample file (sample.js) which you messed the indentation of it then entered the Visual Block mode and selected the whole file then typed a command which fixed the styling.

What is that command ? I can not figure it out.

the second question how

[2020-03-06 05:46] yuezk commented on #126
1. Try the command `ggVG=` to format the whole source file.
2. This plugin can automatically indent the new line when you start a new line or press `==`. For the pre-existed unformatted file, you might need the command above to format them. It's not a code formatting tool, so if you want the more advanced formatting, you might need the other code formatting tools, like [prettier](https://prettier.

[2020-03-06 13:39] Abdullah-F commented on #126
That was clear.

Thank you, I have already yesterday started to read prettier Repo read-me file and will add it now.
thank you very much.

[2020-03-06 13:40] #126 closed

[2020-03-15 06:18] dagolinuxoid commented on #101
Btw I used `javascriptreact` (got from :set ft? command) filetype in my .vimrc config and it seems like it works properly.

[2020-04-09 22:24] jonsmithers opened #128 "Not initializing correctly for typescriptreact"
Thanks for adding such awesome support for JSX in vim!

I've noticed that the indentation doesn't always work in typescript files for me. I can reproduce with a minimal vimrc:

[code]

If I open a `.tsx` file using this minimal vimrc, then any line I auto-indent is given 0 indent. If I open a buffer with filetype `javascriptreact`, the issue goes away. Here's a gif of me reproducing it on my machi

[2020-04-11 09:15] #128 closed

[2020-04-11 09:16] yuezk commented on #128
@jonsmithers Should be fixed now.

[2020-04-11 13:22] jonsmithers commented on #128
Thanks!!

[2020-05-19 02:11] x93008 commented on #121
What key do I need to press to format the code? In fact, I don't want to format the code function, but I don't know which key was pressed, which caused my code to be formatted. Now my code is in a mess

[2020-05-19 02:33] yuezk commented on #121
It's the same as the Vim's indentation key bindings. Press `==` will indent the current line, press `gg=G` to indent the entire file.

BTW, it only fixes the indentation.

[2020-06-01 15:41] glepnir opened #130 "Wrong indent on tsx file"
The `|` means cursor here.  When i input `enter` the cursor jump to next line but the indent seems like wrong.
![image](https://user-images.githubusercontent.com/41671631/83426205-61558900-a461-11ea-8c8e-a9b891fc5237.png)

[2020-06-02 02:43] yuezk commented on #130
The reason is that it couldn't decide what you would type after you pressed `Enter` after a opening tag.

For example, you could continue to input the text content

[code]
In this case, the indentation is correct.

....but you could also input the closing tag, like

[code]

While in this case, the indentation is incorrect, but once you typed the `>` of the closing tag. It will correct the indentat

[2020-06-02 05:08] glepnir commented on #130
Ok Fine. i  got it.

[2020-06-02 05:08] #130 closed

[2020-06-18 11:06] overbyte opened #131 "[Question] Using Emmet with vim-jsx-pretty"
I had a dig through the source code but there's no obvious way i can see of doing this so I hope you guys know.

When i used mxw/vim-jsx (deprecated in favour of vim-jsx-pretty), emmet would know to use jsx-specific attribute names like `className` instead of `class`. Is there a way to fix this here please?

Thanks
;oB

[2020-06-21 09:53] zanona opened #132 "typescript: misaligned indentation when using function shorthand with generic"
Whenever having the following on typescript:

[code]

The indented result becomes like:
[code]

This is due to `foo` accepting a generic `<T extends string>`, as if we take out the generic, the indentation works as expected.

The only workaround at the moment is declaring a long form function as:

[code]

I've noticed that this doesn't happen on _yats.vim_, but whenever having both _yats.vim_ and

[2020-06-22 02:40] yuezk commented on #132
It's hard to differentiate the JSX syntax from generic syntax in typescript with plain regex syntax highlighting because the following is also a valid JSX syntax.

[code]

Currently, we will treat all the `<T` as a generic and this problem can be resolved.

BTW, even though I comment out vim-jsx-pretty, this problem still exists on my machine.

[2020-06-22 02:44] yuezk commented on #132
@zanona Update the plugin and try again.

[2020-06-22 02:50] yuezk commented on #131
@overbyte Below are the emmet settings of myself. It works well for me, you can have a try.

[code]

[2020-06-22 07:13] zanona commented on #132
@yuezk That works perfectly now. Thanks so much for adjusting this so quickly.

[2020-06-22 07:13] #132 closed

[2020-06-23 14:10] overbyte commented on #131
sweet dude - i'll try that and see what happens

[2020-06-23 14:20] #131 closed

[2020-06-27 14:33] zanona opened #134 "typescript: misaligned indentation for `=` in template literal"
Whenever having a string containing `=` but inside a template literal, the indentation will be increased by one level.
This doesn't seem to happen on .js files. Please see below:

[code]

[2020-06-29 04:12] yuezk commented on #134
@zanona It can be reproduced without the vim-jsx-pretty plugin, so it might be an issue of yats.vim

[2020-06-30 12:29] zanona commented on #134
Thanks for checking it out, @yuezk.
Shall we consider yats.vim as a dependency for vim-jsx-pretty?

I got the impression it was a recommendation only for syntax highlighting.
Anyway, it's good to know for future issues, so I can report over there.
Thanks again.

[2020-07-01 04:20] yuezk commented on #134
Yes. `yats.vim` is the most used dependency for `vim-jsx-pretty` as the description in README.

[2020-07-01 04:22] yuezk commented on #134
Closing in favor of https://github.com/HerringtonDarkholme/yats.vim/issues/194

[2020-07-01 04:22] #134 closed

[2020-08-15 04:36] andrewplummer opened #135 "Not matching JSX with dot separator"
Cross posted from [here](https://github.com/andymass/vim-matchup/issues/103)

With the following JSX:

[code]

The `%` key will not jump to (or highlight) the closing tag for `<Layout>`.
I'm using this with the `maxmellon/vim-jsx-pretty`, unsure which is responsible for the issue.

Platform: OSX 10.15.6
Version: MacVim 8.2.539

[2020-09-03 15:04] EdmundsEcho opened #136 "Great documentation"
I'm only opening this issue to highlight the value of the syntax highlighting groups provided in the README.md page.   The way the specific tokens within the tags are tagged was clear and helpful.  Thank you!  \- E

[2020-09-05 13:52] andymass commented on #135
What about something like this?

    <\@<=\([^/][^ \t>]*\)\g{hlend}\%(>\|$\|[ \t][^>]*\%(>\|$\)\):<\@<=/\1>

Rather than, https://github.com/MaxMEllon/vim-jsx-pretty/blob/c665d5ca4247b696f478f91b7c97b9e44442e4b6/after/ftplugin/javascript.vim#L20

[2020-09-09 02:18] yuezk commented on #136
Thank you for your affirmation.

Now, I'm closing this ticket. 😁

[2020-09-09 02:18] #136 closed

[2020-09-29 16:13] malan88 opened #140 "Dealing with tags interspersed in blocks of text"
Hi,

I seem to have a very specific problem. In my current project I have defined a styled component for highlighted text (i.e., it just changes the color and bolds the text) and it breaks indentation. The indentation ends up looking like this:

[code]

I don't know what to do about this, and it's rather irritating having to manually indent.

[2020-10-04 15:38] z0rzi opened #141 "Typescript indent failing for multiline properties"
Hi there!

Here's an example of a template where the problem occurs:

[code]

When I try indenting in Typescript, all the properties in the back tick fall to column 0. The same thing happens with the following:

[code]

Note that **this problem doesn't occur in javascript**. So to solve it, I just need to run `set ft=javascriptreact`, but then I don't have the typescript syntax.

Thanks!

[2020-10-22 14:18] jsit opened #142 "jsxTagName should be same as htmlTagName"
`htmlTagName` is linked to `htmlStatement` (which is linked to `Statement`). `jsxTagName` should either be linked to `htmlTagName` or to `Statement` for consistency.

[code]

[2020-11-11 17:30] malectro commented on #132
sorry for the necromancy, but i'm curious if allowing generics with names other than `T` is an impossible problem to solve or if the TS/Flow highlighting should run after the jsx highlighting? currently `vim-polyglot` runs `vim-javascript` before `jsx_pretty`.

[2020-12-19 07:21] rexagod opened #144 "Different formatting than expected"
Formatted text when using `vim-jsx-pretty` by pressing `gg=G`:
![image](https://user-images.githubusercontent.com/33557095/102683649-770d7e80-41f8-11eb-93d4-07d89a79fc89.png)

Expected formatting:
![image](https://user-images.githubusercontent.com/33557095/102683657-81c81380-41f8-11eb-9d7c-f95886074c1d.png)

How can I get the expected formatting? Are there any conflicting options that need to be d

[2020-12-19 10:06] rexagod commented on #144
Changing the filetype to `javascriptreact` worked for me, closing this.

[2020-12-19 10:06] #144 closed

[2020-12-24 15:57] andresrodco opened #145 "Function declaration's closing bracket highlighted as error"
When any but the last destructuring key is surrounded by quotes, the error ocurs:
<img width="523" alt="Screen Shot 2020-12-24 at 10 40 52" src="https://user-images.githubusercontent.com/71342402/103097207-93ccfc00-45d4-11eb-9822-ede38dfaf414.png">

When any but the last destructuring key is NOT surrounded by quotes, the highlight is ok:
<img width="495" alt="Screen Shot 2020-12-24 at 10 42 31" sr

[2020-12-24 16:53] andresrodco commented on #145
Closing this bug and creating it in vim-javascript. I think I have a solution for that.

[2020-12-24 16:53] #145 closed

[2020-12-28 03:16] yuezk commented on #145
@andresrodco You can use [`yuezk/vim-js`](https://github.com/yuezk/vim-js) as the alternative to `vim-javascript`. I believe it won't have this problem and I'm more familiar with that plugin.

[2020-12-29 23:48] andresrodco commented on #145
Thanks @yuezk That plugin worked as expected!

[2021-01-09 23:31] phelipetls opened #147 "Highlight type arguments after jsxComponentName"
I'm trying to highlight type arguments after a component name.

[code]

This is rarely seen but it would be nice.

I thought it wouldn't be too hard but I didn't manage to get it right.

Since now yats.vim is bundled with Vim, I tried

[code]

But it doesn't work :(

[2021-01-12 07:51] #135 closed

[2021-01-21 21:16] isaiahfisher opened #148 "Highlighting issue with colorscheme"
While using this plugin with my colorscheme I do not get highlighted html inside of the .js file. Instead I get a strange rendering of the <> brackets.
![image](https://user-images.githubusercontent.com/13983125/105412811-3643c380-5c03-11eb-8b5b-b022600817a8.png)
If I switch colorschemes the issue is fixed.
![image](https://user-images.githubusercontent.com/13983125/105413033-86228a80-5c03-11eb-8c

[2021-01-22 07:39] yuezk commented on #148
We defined the highlight group [here](https://github.com/MaxMEllon/vim-jsx-pretty#syntax-group-list), and linked the color's as below:

https://github.com/MaxMEllon/vim-jsx-pretty/blob/6989f1663cc03d7da72b5ef1c03f87e6ddb70b41/after/syntax/jsx_pretty.vim#L187-L221

Seems the colorscheme you used didn't highlight the color groups like `Function` and `Identifier`.

[2021-01-22 14:42] isaiahfisher commented on #148
@yuezk Is there currently any feature to highlight the HTML components within JSX as defined in html.vim? Basically I am just looking for my HTML templates to match my actual HTML files.

[2021-01-25 17:28] mustafaergul opened #149 "Closing tag doesn't get colored - Gruvbox"
Currently using gruvbox as colorscheme and in JSX file closing tags are always greyed as below. I would expect better coloring for JSX files to pretty view and same colors for closing tags.

Could you please guide me on how to fix this? I do also have the following lines that didn't help;

highlight link xmlEndTag xmlTag

let g:vim_jsx_pretty_highlight_close_tag = 1

<img width="685" alt="image" s

[2021-01-30 21:37] rudotriton commented on #149
It should color them by default, because I also use gruvbox. `let g:vim_jsx_pretty_highlight_close_tag=1` means that the closing tag won't be colored. If you remove that line are they still not colored?

[2021-01-31 08:59] mustafaergul commented on #149
That worked well, not sure why I have added this :) Thanks @rudotriton !

[2021-01-31 08:59] #149 closed, assigned to nobody

[2021-03-20 05:49] wgxh opened #150 "[Feature] Highlight when call function"
# Feature request

Recently, I wrote some code with jsx syntax.
I hope author can add a feature, highlight when call function.
[code]

Please, Thanks!

[2021-03-27 14:14] yuezk commented on #150
This plugin is used to highlight the jsx syntax, so it won't highlight the function call by design.

You might need to submit a feature request to the JavaScript highlighting plugin you use.

[2021-05-18 03:28] devsnek opened #151 "highlighting fails on closing parens"
I'm using polyglot.

some examples of this issue:

![](https://gc.gy/89013403.png)

![](https://gc.gy/89013415.png)

![](https://gc.gy/89013422.png)

![](https://gc.gy/89013439.png)

![](https://gc.gy/89013457.png)

[2021-05-31 00:16] leonmjuancarlos commented on #121
This worked for me. Thanks!!

[2021-06-19 01:03] wgxh commented on #150
Oh, Thank you.

[2021-06-19 08:23] yuezk commented on #151
What's the plugin you use to highlight the JavaScript?

[2021-06-19 14:43] devsnek commented on #151
@yuezk pangloss/vim-javascript via polyglot

[2021-07-04 11:23] yuezk commented on #151
@devsnek Then please try to configure it refer to https://github.com/MaxMEllon/vim-jsx-pretty#%EF%B8%8F-work-with-vim-polyglot

[2021-08-30 17:35] AndrewRadev opened #152 "Matchit support has problems with unclosed tags"
Here's an example that fails for me on the current master:

[code]

Putting the cursor on the opening `<Foo>`, tapping % doesn't jump to the closing one, because between them there's this self-closed tag that starts with `<Foo`.

While there might be a fix to the pattern, I feel like a perfectly valid choice is to remove the matchit words, since Vim's runtime files seem to include one already: htt

[2021-10-17 07:07] siddharthroy12 opened #153 "Weird highlight using vim-polygot"
![image](https://user-images.githubusercontent.com/46083528/137615718-2b583b15-3aef-4084-8cf8-ad183df67b59.png)
![image](https://user-images.githubusercontent.com/46083528/137615741-b364f7fc-3675-4b99-bd04-a890f70ecffd.png)

My .vimrc
[code]

[2021-10-17 07:43] siddharthroy12 commented on #153
Fixed it using this method https://github.com/MaxMEllon/vim-jsx-pretty#%EF%B8%8F-work-with-vim-polyglot

[2021-10-17 07:43] #153 closed, assigned to nobody

[2021-11-03 01:28] noahbrenner opened #154 "Broken .tsx highlighting for arrow functions using generics"
I'm running into inconsistencies in highlighting between `ft=typescript` and `ft=typescriptreact`.

I'm using `yats.vim`, `vim-javascript`, and of course `vim-jsx-pretty`, all just updated using `vim-plug`.

### Some example code:

[code]

- When filetype is `typescript`:
  ![image](https://user-images.githubusercontent.com/24858379/139988162-62a28295-6993-442d-999b-63ceca2fec2a.png)

- When filet

[2021-12-08 09:13] JohnSmall commented on #121
**Context:** I'm using this plugin along with vim-javascript and vim-pathogen as my package manager
**Question:** How do I get the syntax highlighting and indenting to work?

It seems that vim-javascript is taking precedence so 'gg=G' doesn't indent the jsx code at all, and I don't see the nice colors and lines linking begin and end groups.

The only feature of vim-jsx that seems to be working is

[2022-03-07 14:34] thevan96 opened #155 "Problem syntax"
I used vim without syntax hilight, but when work project includes .jsx, feature autoindent not working.
 How to autoindent working when set syntax off?

[2022-03-09 03:44] yuezk commented on #155
The indentation depends on the syntax group name, so disabling the syntax highlight could break the indentation.

[2022-03-09 03:51] yuezk commented on #155
I don't know if you could enable the Vim syntax but set `g:vim_jsx_pretty_disable_js` to `1` to not highlight the JSX syntax. By doing this, the syntax groups are available, but the syntax still not highlighted.

[2022-03-10 07:23] #155 closed, assigned to nobody

[2022-09-30 11:27] rschristian opened #156 "Is there a reason why Line Comments are being redefined?"
[code]

Is there a reason for (re)defining these values? I cannot see what value this actually offers.

It creates issues in my setup as I disable yats/Vim's built-in TS syntax as it greatly diverges from the JS syntax and the things that go along with that (groups, highlighting standards, etc). As such, I was rather surprised to see `typescriptLineComment` start popping up, and tracked it down to